<a href="https://colab.research.google.com/github/TrinhViKhang/PhanTichDuLieuvaHocSau/blob/main/ontap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1a:

In [12]:
#tạo data
import pandas as pd
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
df = pd.DataFrame(data)
df

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

Câu 1b:

In [13]:
#lấy n dòng đầu tiên của dataframe
df.head(2)

   color object  price
0   blue   ball    1.2
1  green    pen    1.0

Câu 1c:

In [14]:
#lọc
df.filter(['color'])

    color
0    blue
1   green
2  yellow
3     red
4   white

In [21]:
#lấy theo điều kiện
df[df['price']<1]

    color  object  price
2  yellow  pencil    0.6
3     red   paper    0.9

Câu 1d:

In [16]:
#giá trị trống
df.isnull()

   color  object  price
0  False   False  False
1  False   False  False
2  False   False  False
3  False   False  False
4  False   False  False

Câu 1e:

In [22]:
#map
newcolors = {
    'red' : 'black',
    }
df.replace(newcolors)
df

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

Câu 1f:

In [20]:
#thêm
df['rice'] = [0, 1.0, 0.6,0.9,1.7]
df

    color  object  price  rice
0    blue    ball    0.0   0.0
1   green     pen    1.0   1.0
2  yellow  pencil    0.6   0.6
3     red   paper    0.9   0.9
4   white     mug    1.7   1.7

Câu 1g:

In [21]:
#xóa
del df['rice']
df

    color  object  price
0    blue    ball    0.0
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

Câu 2a:

In [ ]:
#tạo dataframe từ cái có sẵn, hàm groupby